.centre{
    margin-top: 200px;
    margin-left: 100px;
    text-align: center;

    width: 400px;
    height:300px ;
    
    
    
}

.centre img {
    
    height: 27px;
    width: 27px;
    
}

.Loginbutton {
    background-color: coral;
    border: 0px;
    border-width: 1px 1px 1px 1px;
    height: 30px;
    width: 180px;
    margin-top: 20px;
    border-radius: 30px;
    font-family: 'Trebuchet MS';
    font-size: 18px;
}
.signup-button {
    background-color: coral;
    border: 0px;
    border-width: 1px 1px 1px 1px;
    height: 30px;
    width: 210px;
    margin-top: 20px;
    border-radius: 30px;
    font-family: 'Trebuchet MS';
    font-size: 18px;
}
.signup-button:hover {
    
    text-decoration: underline;
}
.Loginbutton:hover {
    
    text-decoration: underline;
}

.login-input{

        background-color: transparent;
        border: none;
        border-bottom: 2px solid rosybrown;
        color: #555;
        box-sizing: border-box;
        font-family: 'Trebuchet MS';
        font-size: 18px;
        margin-bottom: 5px;
        
        padding: 10px 0px;
        width: 300px;
        
   
}

.forget-password-button{
    border: 0px;
    margin-left: 150px;
    background-color: transparent;
    font-family: 'Trebuchet MS';
    font-size: 15px;
}

.forget-password-button:hover {

    text-decoration: underline;
}

.animation{
    background-color: black;
    width:200px;
    height: 200px;
    margin-left: 200px;
    margin-top: 20px;
}

.background{
    
    margin-left: 17%; 
    margin-top: 10%;
    width: 512px;
    height: 512px;
    
    
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;    
}

.text {
    height: 40px;
    font-family: "Inter";
    font-size: 39px;
    font-style: bold;
    text-align: center;
    margin-left: 120px;   
}
.txt-login {
    height: 40px;
    font-family: "Inter";
    font-size: 39px;
    font-style: bold;
    text-align: center;
    margin-left: 80px;
}




